{% extends "base.html" %}
{% block content %}
<div class="wrapper container bg-gradient-primary">
    <br>
    <h1 class="h3 mb-4 text-white text-center justify-content-center">Embarcaciones</h1>

    <table class="table table-striped table-info">
        <thead>
            <tr>
                <th>Id</th>
                <th>Matricula</th>
                <th>Tamaño</th>
                <th>Capacidad</th>
                <th>Numero de pisos</th>
                <th>Estado</th>
                <th>Acciones</th>
                </tr>
        </thead>
            {% for barco in barco %}
            <tr>
                <td>{{ barco['id'] }}</td>
                <td>B-{{ barco['matricula'] }}</td>
                <td>{{ barco['tamano']}}</td>
                <td>{{ barco['capacidad'] }}</td>
                <td>{{ barco['numero_pisos'] }}</td>
                <td>{{ barco['estado'] }}</td>
                <td>
                    <a href="{{ url_for('edit_barco', barco_id=barco['id']) }}" class="btn btn-sm btn-primary {% if barco['estado'] != 'Disponible' %}disabled-link{% endif %} d-none">Editar</a>
                    <button class="btn btn-sm btn-danger" onclick="deleteBar({{barco['id']}})" {% if barco['estado'] != 'Disponible' %}disabled{% endif %}>Eliminar</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
</div>
{% endblock %}